<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{base}}/a03/style.css">
</head>
<body>
  <header>
    <h1>Chat-App</h1>

    <nav>
      <a href="{{base}}/login">Login</a>
      <a href="{{base}}/register">Registrieren</a>
      <a href="{{base}}/dashboard">Dashboard</a>
      <a href="{{base}}/rooms">Rooms</a>
      <a href="{{base}}/chat?roomId=2">Chat</a>
      <a href="{{base}}/profile">Profil</a>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>© 2025 Chat-App</p>
  </footer>
</body>
</html>
