<div id="msg-{{id}}" class="msg {{#if mine}}me{{/if}}">
  {{#unless mine}}🙂 <b>{{author}}:</b>{{/unless}}
  {{text}}

  {{#if mine}}
    <span class="right">
      <a class="btn link"
         href="{{base}}/message/{{id}}/edit?roomId={{roomId}}"
         title="Bearbeiten">✏️</a>

      <a class="btn link"
         href="{{base}}/message/{{id}}/delete?roomId={{roomId}}"
         title="Löschen">🗑️</a>
    </span>
  {{/if}}
</div>
