<section class="card">
  <h2>Neuen Raum erstellen</h2>

  {{#if errorRoomExists}}
    <p style="color:#b00;"><b>Fehler:</b> Raumname existiert schon.</p>
  {{/if}}

  <form method="post" action="{{base}}/rooms">
    <input type="text" name="name" placeholder="Raumname" required>
    <button class="btn primary" type="submit">Anlegen</button>
  </form>
</section>

<section class="card">
  <h2>Rooms</h2>
  <div class="rooms">
    {{#each rooms}}
      <div class="room">
        <a href="{{../base}}/chat?roomId={{id}}">{{name}}</a>
        <a class="btn link right" href="{{../base}}/room/{{id}}/edit">✏️</a>
      </div>
    {{/each}}
  </div>
</section>
