<nav>
  <a href="{{@root.base}}/login">Login</a>
  <a href="{{@root.base}}/register">Registrieren</a>
  <a href="{{@root.base}}/dashboard">Dashboard</a>
  <a href="{{@root.base}}/rooms">Rooms</a>
  <a href="{{@root.base}}/chat?roomId=2">Chat</a>
  <a href="{{@root.base}}/profile">Profil</a>
</nav>
